<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  Ingredients:
  <ul>
    <%= f.fields_for :ingredients do |ingredients_form| %>
      <li>
        <%= ingredients_form.label :name %>
        <%= ingredients_form.text_field :name %>

        <%= ingredients_form.label :quantity %>
        <%= ingredients_form.text_field :quantity %>

      </li>
    <% end %>
  </ul>

  <%= f.submit %>
  
<% end %>
